body{
    background-color: hsl(226 63% 45%);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 95vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

main{
    margin: 1em 0;
    width: 100%;
}

.crud{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

.main-element{ 
    margin-bottom: 2em;
}

.footer-element{
    margin-bottom: 1em;
    width: 100%;
}

.footer-element p{
    text-align: center;
}

.footer-element p:hover{
    color: rgb(165, 96, 255)
}