/**
{outline: 1px red solid;}
*/

.crud__form{
    min-width: 50%;
    max-width: 50%;
}

.crud__form-element{
    margin: 2em 0;
}
.crud__form-element label{    
    font-size: 2vh;
    color: $white;
}

.crud__form-input input{
    height: auto;
    width: auto;
    font-size: 2vh;
    background-color: $grey-darker;
    border-radius: 0.3vh;
}

.button-send-form input{
    height: 3vh;
    width: 9vh;
    font-size: 1.5vh;
    font-family: $font-stack;
    background-color: $grey;
    color: $color-primary-darkest;
    border-radius: 1.5vh;
}