.crud__table{
    font-family: $font-stack;
    font-size: 1.5vh;
    border-collapse: collapse;
    min-width: 45%;
    max-width: 45%;
}

.crud__table table{
    width: 100%;
}

.crud__table td, th {
    border: 1px solid $grey-darker;
    text-align: left;
    padding: 8px;
    color: $white;
}

tr th {
    background-color: $color-secondary;
    color: $white;
}
